:root {
  --primary-color: #ed9390;
  --secondary-color: #32533d;
  --bottons-color: #f374ae;
  --bgc-body: #ffffff;
  --bgc-cards: #fae55c;
  --bgc-container: #ffffff2a;
  --font-color: rgb(0, 0, 0);

  --shadow-nav: 0 4px 8px rgb(196, 193, 193);
  --border-all: 2px solid var(--primary-color);
}
