.tituloServicios {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  width: 100%;
}
article ol li {
  gap: 10px;
}

article h4 {
  margin: 0 0 10px 0;
}
@media (max-width: 768px) {
  .sectionServicios {
    width: 90%;
    margin: 30px auto 30px auto;
  }

  .tituloServicios {
    font-size: 0.9rem;
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  .tituloServicios {
    font-size: 0.8rem;
    padding: 5px 0;
    max-width: 100%;
    text-align: center;
  }
}
